# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Saved model artifacts (Optional - depends if you want to track them)
# *.pkl
# *.json
# *.png 